.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
  }
  .dropdown-content.show{
    display: block;
  }
  .dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #664a5f;
    color: white;
  }

  .dropdown:hover .dropdown-content {display: block;}